{% extends "feed_and_posts/feed_layout.html" %}

{% block title %}Edit Profile: {{ profile.user.username|slice:":15" }}.. | Network{% endblock %}

{% block content %}
<div class="w-100 text-white p-3 bg-medium-dark rounded shadow-lg border border-light">
    <h2 class="text-center mb-4">Edit Profile</h2>

    {% if message %}
        <div class="alert alert-warning text-center" role="alert">
            {{ message }}
        </div>
    {% endif %}
    <form method="POST">
        {% csrf_token %}

        <div class="mb-3">
            <label for="title" class="form-label">Image URL:</label>
            <input type="text" class="form-control bg-dark text-light border-light" id="title" name="title" placeholder="Enter image URL" value="{{ profile.avatar_link| default:"" }}">
        </div>

        <div class="mb-3">
            <label for="content" class="form-label">Bio:</label>
            <textarea class="form-control bg-dark text-light border-light" id="content" name="content" rows="5" placeholder="Write your bio here...">{{ profile.bio| default:"" }}</textarea>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-light px-5 w-100 text-center">Update</button>
            <a href="{% url 'user_profile' profile.user.username %}" class="btn btn-secondary px-5 w-100 text-center mt-2">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}