html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #6c757d #343a40;
}

.hover-text-black:hover {
    color: black !important;
}

.img-404 {
    width: 200px;
}

@media (min-width: 580px) {
    .img-404 {
        width: 300px;
    }
}

.navbar-brand {
    letter-spacing: 1px;
}

.nav-link.active {
    color: #ffc107 !important;
}

.min-vh-100 {
    min-height: 100vh;
}

.text-justify {
    text-align: justify !important;
}

.bg-medium-dark {
    background-color: #2b3035 !important;
}

.text-shadow-medium-dark {
    text-shadow: 2px 2px 4px #2b3035 !important;
}

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./../images/hero-bg-small.jpg') no-repeat left center !important;
    background-size: cover !important;
}

@media (min-width: 768px) {
    .hero {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./../images/hero-bg-full.jpg') no-repeat center center !important;
        background-size: cover !important;
        background-attachment: fixed !important;
        /* background-position: center center !important;
        background-attachment: fixed !important; */
    }
}