<footer class="bg-black text-center text-white py-4 mt-5">
    <div class="container">
        <h5 class="fw-bold text-uppercase mb-3">Network</h5>
        <p class="mb-3">Connect, Share, and Grow — your social space for meaningful conversations.</p>

        <div class="mb-3">
            <a href="{% comment %}{% url 'core_index' %}{% endcomment %}" class="text-white text-decoration-none mx-2">Home</a>  |
            <a href="{% comment %}{% url 'about' %}{% endcomment %}" class="text-white text-decoration-none mx-2">About</a> |
            <a href="{% comment %}{% url 'contact' %}{% endcomment %}" class="text-white text-decoration-none mx-2">Contact</a>
        </div>

        <p class="mb-0 small text-secondary">
        Copyright &copy; <script>document.write(new Date().getFullYear());</script> Network | All rights reserved.
        </p>
    </div>
</footer>
