{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-black shadow-sm px-2 px-lg-5">
    <div class="container-fluid">

        <a class="navbar-brand fw-bold text-uppercase" href="{% url 'core_index' %}">
            <img src="{% static 'core/images/logo.png' %}" alt="Network Logo" width="30" height="30" class="d-inline-block align-text-top me-2">
            Network
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'core_index' %}active{% endif %}" href="{% url 'core_index' %}">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'feed_index' %}active{% endif %}" href="{% url 'feed_index' %}">
                        Feed
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'following_feed' %}active{% endif %}" href="{% url 'following_feed' %}">
                        Following
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'core_about' %}active{% endif %}" href="{% url 'core_about' %}">
                        About
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'core_contact' %}active{% endif %}" href="{% url 'core_contact' %}">
                        Contact
                    </a>
                </li>
            </ul>

            <ul class="navbar-nav mb-2 mb-lg-0">

                {% if request.user.is_authenticated %}

                    <li class="nav-item ">
                        <a class="nav-link {% if request.resolver_match.url_name == 'user_profile' %}active{% endif %}" href="{% url 'user_profile' request.user.username %}">
                            <i class="bi bi-person-circle"></i>
                            <small>{{ request.user.username|slice:":10" }}{% if request.user.username|length > 10 %}...{% endif %}</small>
                        </a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle fw-semibold" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-gear"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end bg-dark border border-secondary shadow rounded-3 mt-2">

                            {% if request.user.is_superuser %}
                            <li>
                                <a class="dropdown-item text-warning py-2 hover-bg" href="{% url 'admin:index' %}">
                                    <i class="bi bi-shield-lock"></i> Admin
                                </a>
                            </li>
                            {% endif %}

                            <li>
                                <a class="dropdown-item text-danger py-2 hover-bg" href="{% url 'logout' %}">
                                    <i class="bi bi-box-arrow-right"></i> Logout
                                </a>
                            </li>
                        </ul>
                    </li>

                {% else %}

                    <li class="nav-item">
                        <a class="nav-link btn btn-primary text-white px-3 ms-2 border border-primary" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item mt-2 mt-lg-0">
                        <a class="nav-link btn btn-primary text-white px-3 ms-2 border border-primary" href="{% url 'register' %}">Signup</a>
                    </li>

                {% endif %}
            </ul>
        </div>
    </div>
</nav>
